* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after{
  content: '';
  display: table;
  clear: both;
}

.container {
  width: 58%;
  height: 100%;
}

.box1, .box2, .box3 {
  float: left;
  width: 33%;
}

.box4, .box5, .box6 {
  float: left;
  width: 33%;
}

.img-size {
  height: 500px;
}

/*************** TEXT AREA *************/

.content-p {
  font-size: 10px;
  padding-top: 5px;
  margin-right: 5px;
}

.title-p {
  padding-top: 5px;
  margin-right: 5px;
}